.timeline {
  width: 300px;
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  border-radius: 4px;
}

.timelineScroll {
  max-height: 400px;
  overflow-y: auto;
}

select {
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.timeline div {
  margin: 10px 0;
}

a {
  color: #333;
}
  

