.selectColumns {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  padding: 0 10%;
}

.header {
  display: flex;
  justify-content: center;
}

.utilities {
  width: 1000px;
  background-color: yellow;
  display: flex;
  justify-content: center;
  padding: 2%;
}

.year {
  padding-right: 5px;
}

.body {
  display: flex;
  justify-content: center;
}
