.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background: #333;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectColumns, .utilities {
  display: flex;
  align-items: center;
}

.selectColumns {
  margin-right: 20px;
}

.body {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
}
